/* ==|== primary code =====================================================
 Author: Jorge DD Martins
 Code for Jorge DD
 ========================================================================== */


body {
	background: #fff;
	font-family: 'kokilaregular';
	overflow-x: hidden;
}

* {
	margin:0;
	padding: 0;
}

div.mainController, 
div.header, 
div.section, 
div.footer {
	display: block;
}

div.mainController div.header div.nav {
	border-bottom: 2px solid #cae0b4;
}


div.mainController div.header div.nav div.logo_hey {
	width: 200px;
	margin-left: 4%;
	margin-top: 0.3%;
	margin-bottom: 0.4%;
}

div.mainController div.header div.nav div.logo_hey img {
	width: 100%;
}

div.mainController div.header div.nav a.nav_menu {
	background: #fff url(../img/icons/nav.png) no-repeat;
	width: 116px;
	height: 100%;
	right: 0;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

div.mainController div.header div.links_nav {
	right: 117px;
	top: 0;
}

div.mainController div.header div.nav a.nav_link {
	color: #276406;
	font-size: 30px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 11.5%;
	padding-bottom: 9%;
}

div.mainController div.header div.nav a.nav_link:hover {
	background: #f1fcea;
}

div.mainController div.section div.down_section {
	padding-left: 4%;
	padding-right: 4%;
	margin-top: 3%;
	margin-bottom: 1.5%;
	position: relative;
}

div.mainController div.section div.down_section h1 {
	position: absolute;
	color: #276406;
	font-size: 8vw;
	font-family: 'kokilaregular';
	letter-spacing: -7px;
	left: 23.5%;
top: 0;
line-height: 54%;
text-align: center;
}

div.mainController div.section div.down_section div.product_1 {
	width: 20.65%;
	position: relative;
}

div.mainController div.section div.top_banner, 
div.mainController div.section div.top_banner img,
div.mainController div.section div.down_section,
div.mainController div.section div.down_section div.product_1 img, 
div.mainController div.section div.down_section div.product_2 img, 
div.mainController div.section div.down_section div.product_3 img, 
div.mainController div.section div.down_section div.product_4 img {
	width: 100%;
}

div.down_section div.up_prod {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


div.down_section div.up_prod a {
	width: 23%;
	position: absolute;
	top: 40%;
	right: 3%;
	padding-top: 7.5%;
	padding-bottom: 8%;
	z-index: 1;
}


div.mainController div.section div.down_section div.product_2 {
	width: 25.7%;
	position: relative;
	margin-top: 16%;
	left: -2%;
}


div.mainController div.section div.down_section div.product_3 {
	width: 21.8%;
	position: relative;
}


div.mainController div.section div.down_section div.product_4 {
	width: 30.9%;
	position: relative;
}


div.mainController div.footer {
	position: relative;
	padding-top: 3.1%;
	padding-bottom: 3.2%;
	max-height: 100px;
	margin-bottom: 20px;
}

 div.mainController div.footer div.foot_ins {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


div.mainController div.footer div.foot_ins span.s_more {
	width: auto;
}

div.mainController div.footer div.foot_ins span.s_more a {
	color: #276406;
	font-size: 36px;
	font-variant: small-caps;
	padding-right: 2%;
	background: url(../img/icons/arrow.png) no-repeat;
	background-position: 100% 65%;
	margin-left: 6%;
}

div.mainController div.footer div.foot_ins div.socials {
	height: 32px;
	position: absolute;
	top: 0;
	right: 6%;
}

div.mainController div.footer div.foot_ins div.socials img {
	margin-left: 10px;
}


div.mainController div.footer div.foot_ins span.copy_r {
	text-align: center;
	display: block;
	font-size: 18px;
	color: #646663;
	margin-top: 20px;
}



