/* ==|== primary code for mobile =====================================================
 Author: Jorge DD Martins
 Code for R64Cloud
 ========================================================================== */


header.top_head nav[role="navigation"] div.nav-right a.nav-menu_mob {
	width: 59px;
	height: 27px;
	margin-top: 0;
	position: relative;
	top: 35%;
	right: 25%;
}

header.top_head nav[role="navigation"] div.nav-right a.nav-menu_mob img, 
div.mob_home_r64 div.mob_cloud, 
div.mob_home_r64 div.down_main_mob, 
div.mob_home_r64 div.mob_cloud div.r64_blk_mob div.img_slide img {
	width: 100%;
} 

div.mob_home_r64 div.mob_cloud {
	background: #eeeeef;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 1px;
	display: inline-block;
}


div.mob_home_r64 div.mob_cloud div.r64_blk_mob, 
div.mob_home_r64 div.mob_cloud div.r64_blk_mob div.img_slide {
	margin: auto;
}

div.mob_home_r64 div.mob_cloud div.r64_blk_mob {
	width: 80%;
	position: relative;
}

div.mob_home_r64 div.mob_cloud div.r64_blk_mob div.img_slide {
	width: 65.6%;
}

div.mob_home_r64 div.down_main_mob {
	margin-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 60px;
}


div.mob_home_r64 div.down_main_mob div.in_main_mob {
	margin: auto;
	width: 90%;
	text-align: center;
} 

div.iphone_box_mob {
	width: 70%;
	margin: auto;
}

div.iphone_box_mob img {
	width: 100%;
}


















